:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header {
  background-color: var(--primary-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 93px;
}

.logo-part-one {
  color: var(--accent-color);
}

.logo-part-two {
  color: #000000;
}

.logo-part-two-footer {
  color: var(--primary-white-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-dark-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
}

.advantages-section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-item:not(:last-child) {
  margin-right: 32px;
}

.advantage {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.advantage-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.works {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.works-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  margin: -15px;
}

.works-item {
  margin: 15px;
}

.team-section {
  background-color: var(--background-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-item {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.card-content {
  padding: 30px 50px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  cursor: pointer;
  text-decoration: none;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  cursor: pointer;
  text-decoration: none;
}

.portfolio-section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filters {
  display: flex;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-light-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter:hover,
.filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-options {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.option-item {
  margin: 15px;
}

.portfolio-card {
  text-decoration: none;
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--primary-white-color);
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
